[Unit]
Description=Update route53
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/ec2-user/init/update-route53.sh
Restart=no
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
